/transmission_distribution_loss_factor.parquet
/electricity_emission_factor.parquet
/natural_gas_emission_factor.parquet
/fuel_emission_factor.parquet
/transport_fuel_consumption.parquet
/livestock_count.parquet
/livestock_emission_factor.parquet
/greenhouse_gas_emissions_by_sector.parquet
/stationary_propane_consumption.parquet
/stationary_electricity_consumption.parquet
/stationary_natural_gas_consumption.parquet
