/transmission_distribution_loss_factor.parquet
/electricity_emission_factor.parquet
/natural_gas_emission_factor.parquet
/fuel_emission_factor.parquet
/transport_fuel_consumption.parquet
/livestock_emission_factor.parquet
/stationary_propane_consumption.parquet
/stationary_electricity_consumption.parquet
/stationary_natural_gas_consumption.parquet
/greenhouse_gas_emissions_by_sector.parquet
/livestock_count.parquet
/forecasted_energy_consumption.parquet
/forecasted_emissions.parquet
/action_emission_reductions.parquet
/action_energy_reductions.parquet
/action_cost_reductions.parquet
/forecasted_costs.parquet
/action_reductions.parquet
/corporate_transportation.parquet
/corporate_waste.parquet
/corporate_stationary.parquet
