/district_heating_ef_prediction.parquet
/jatteenkasittelyn_paastot_ja_ennuste.parquet
/ajoneuvojen_paastokertoimet.parquet
/ajoneuvosuorite.parquet
/lammityssahkon_lisakerroin.parquet
/energialaji_ja_lammitystapa.parquet
/vaestoennuste.parquet
/rakennuskannan_toimet.parquet
/industry.parquet
/electricity.parquet
/transport.parquet
/autojen_lukumaara.parquet
/maatalouden_toimet.parquet
/liikenteen_toimenpiteet.parquet
/jatteenkasittelyn_tavoitteet.parquet
/building_stock_of_the_city.parquet
