/stationary.parquet
/onroad_transportation.parquet
/emission_factors__energy.parquet
/rail_transportation.parquet
/manufacturing.parquet
/other_energy.parquet
/nonroad_energy.parquet
/land.parquet
/livestock.parquet
/waste.parquet
/ippu.parquet
