/stationary.parquet
/onroad_transportation.parquet
/emission_factors__energy.parquet
/rail_transportation.parquet
/manufacturing.parquet
/other_energy.parquet
/nonroad_energy.parquet
/land.parquet
/livestock.parquet
/waste.parquet
/ippu.parquet
/waterborne_transportation.parquet
/combined_heat_and_power.parquet
/electricity.parquet
/aviation.parquet
/biogenic_shares.parquet
/transportation_actions.parquet
/gasoline_hybrid_shares.parquet
/emission_factors__transportation.parquet
/energy_actions.parquet
/afolu_actions.parquet
/waste_actions.parquet
/ippu_actions.parquet
