/e14_helen_ominaispaastot.parquet
/e7_energiantuotanto_paastot.parquet
/i01_kulutusperusteiset_kokonais_asukaskohtaiset.parquet
/i99_pintapaastot.parquet
/l015_tieliikenteen_paastot.parquet
/l018_laivaliikenne_paastot.parquet
/l08_lentoliikenne_paastot.parquet
/l1_liikenne_khk_paastot.parquet
