/emissionsfaktoren_endenergie.parquet
/emissionsfaktoren_erzeugung.parquet
/emissionsfaktoren_ohne_brennstoffinput.parquet
/emissionsfaktoren_fernwaerme.parquet
/emissionsfaktoren_verkehr.parquet
/energiefaktoren_verkehr.parquet
/energieanteile_verkehr.parquet
/biodieselanteil.parquet
/auslastung_fahrzeuge.parquet
/datenguetekriterien.parquet
/fahrleistung_strassenverkehr.parquet
/energieverbrauch_uebriger_verkehr.parquet
/witterungsbereinigung.parquet
