/business_as_usual_emissions.parquet
/scenario_totals.parquet
/wedge_emission_reductions.parquet
/scap_measure_reductions.parquet
/growth_factors.parquet
/commercial_floor_area.parquet
/emission_reduction_targets.parquet
/emissions_by_source.parquet
/electricity_consumption.parquet
