/endenergie_emissionsfaktoren.parquet
/fernwarme_berwiegend.parquet
/emissionsfaktoren_ohne_brennstoffinputinformationen.parquet
/emissionsfaktoren_fr_erzeugung.parquet
/gemeindefeine_fahrleistungen_straenverkehr.parquet
/gemeindefeine_endenergieverbrauche_schiene_wasser_luft_nach_antriebsart.parquet
/sector_index.parquet
/other_transport_activity.parquet
/electricity_production_emission_factors.parquet
/final_energy_use_data_quality.parquet
/end_energy_emission_factors.parquet
/emission_factors_for_district_heating_by_generic_fuel.parquet
/weather_correction.parquet
/road_transport_activity.parquet
