/endenergie_emissionsfaktoren.parquet
/fernwarme_berwiegend.parquet
/emissionsfaktoren_ohne_brennstoffinputinformationen.parquet
/emissionsfaktoren_fr_erzeugung.parquet
/gemeindefeine_fahrleistungen_straenverkehr.parquet
/gemeindefeine_endenergieverbrauche_schiene_wasser_luft_nach_antriebsart.parquet
