/net_emissions_historical.parquet
/net_emissions_placeholder.parquet
/vehicle_transport.parquet
/number_of_vehicles.parquet
/vehicle_mileage.parquet
/fuel_consumption_rate.parquet
/transport_emission_factor.parquet
/passenger_transport.parquet
