/i01_ilmanlaatuindeksi.parquet
/i02_vuosikeskiarvot.parquet
/i03_kuukausikeskiarvot.parquet
/i04_bioindikaattorit.parquet
/i1_pm10_ylitykset.parquet
/i18_no2_6_pack.parquet
/i19_indeksi_6_pack.parquet
/i32_no2_tuntiraja_arvo.parquet
