/jatteenkasittelyn_paastot_ja_ennuste.parquet
/industry.parquet
/electricity.parquet
/transport.parquet
/jatteenkasittelyn_tavoitteet.parquet
/building.parquet
/vaestoennuste.parquet
/building_stock_of_the_city.parquet
/district_heating_ef_prediction.parquet
