/road_traffic_emission_factors.parquet
/road_traffic_energy_consumption.parquet
/new_building_heating_per_area.parquet
/waste_reduction_goals.parquet
/waste_treatment_goals.parquet
/addition_to_traffic_emission_factor.parquet
/traffic_emission_factor_goals.parquet
