/road_traffic_emission_factors.parquet
/road_traffic_energy_consumption.parquet
/new_building_heating_per_area.parquet
/waste_reduction_goals.parquet
/waste_treatment_goals.parquet
/addition_to_traffic_emission_factor.parquet
/traffic_emission_factor_goals.parquet
/traffic_energy_forecast.parquet
/energy_sector_trajectories.parquet
/emission_estimates_by_sitowise.parquet
/emission_heating_emission_factor_trajectory.parquet
/electric_heating_emission_factor_trajectories.parquet
/building_energy_use_intensity_trajectories.parquet
/waste.parquet
/electricity.parquet
/kuorma_autoliikenteen_kerroin.parquet
/suurten_toimijoiden_shknkulutus.parquet
/arvio_aurinkoshkn_tuotantomrst_gwh.parquet
/henkilautojen_mr.parquet
/shkn_kysyntennuste_twh.parquet
/jakeluvelvoite.parquet
/shkhenkilautojen_kasvu.parquet
/muutos_kulutusshkn_kytss_asuminen.parquet
/kansallinen_shkntuotanto_puhdistuu.parquet
/teollisuus_ja_tykoneet.parquet
/tieliikenteen_pstkertoimen_ennuste.parquet
/tieliikenteen_suorite_ennuste.parquet
