/stationary_emission_factors.parquet
/grid_emission_factors.parquet
/electricity_consumption.parquet
/natural_gas_consumption.parquet
/vehicle_miles_traveled.parquet
/vehicle_fleet.parquet
/vehicle_emission_factors.parquet
