/e13_helen_vantaa_kaukolammon_sahkonhankinta.parquet
/e15_helen_kaukolampo_jaahdytys.parquet
/e25_kl_polttoaineet_pks.parquet
/e33_kaukolampo_6_pack.parquet
/e42_aurinkopaneeli.parquet
/j8_kaatopaikat_energiantuotanto.parquet
