/andere_daten.parquet
/einwohnerin.parquet
/endenergie_und_emissionfaktor_verbrauchssektoren.parquet
/massnahmen_warmeentwicklung.parquet
/endenergie_und_emissionfaktor.parquet
/massnahmen_verbrauchssektoren.parquet
/erneuerbare_energie.parquet
/warmeentwicklung.parquet
/massnahmen.parquet
/historische_emissionen.parquet
/emissionsfaktoren_fr_den_verkehr.parquet
/emissionsfaktoren_fr_die_industrie.parquet
/emissionsfaktoren_fr_die_energieerzeugung.parquet
/aktivitaten_verkehr_und_gebaude.parquet
/manahmen_ikka.parquet
/direkte_manahmen_ikka.parquet
/end_energy_emission_factors.parquet
/sector_index.parquet
/weather_correction.parquet
