/andere_daten.parquet
/einwohnerin.parquet
/endenergie_und_emissionfaktor_verbrauchssektoren.parquet
/massnahmen_warmeentwicklung.parquet
/endenergie_und_emissionfaktor.parquet
/massnahmen_verbrauchssektoren.parquet
/erneuerbare_energie.parquet
/warmeentwicklung.parquet
/massnahmen.parquet
/historische_emissionen.parquet
/emissionsfaktoren_fr_den_verkehr.parquet
/emissionsfaktoren_fr_die_industrie.parquet
