/solid_waste.parquet
/agriculture.parquet
/global_warming_potential.parquet
/water.parquet
/energy_emission_factors.parquet
/onroad_transportation.parquet
/actions.parquet
/offroad_equipment.parquet
/buildings.parquet
/adjusted_bau.parquet
/wastewater.parquet
/households_and_employees.parquet
