/buildings_energy_emission_factor.parquet
/electricity_emission_factor.parquet
/electricity_production_mix.parquet
/test.parquet
/district_heat_emission_factors.parquet
/vehicle_mileage.parquet
/transport_emission_factors.parquet
/emissions.parquet
/buildings_energy_consumption_emission_factor_revised.parquet
/fuel_consumption_factor.parquet
/waste_incineration.parquet
/population.parquet
/externally_supplied_electricity.parquet
/general_electricity_production_mix.parquet
/subsidized_electricity_production_mix.parquet
/electricity_consumption_emission_factor.parquet
/district_heat_emission_factor.parquet
/building_energy.parquet
/district_heat_production_mix.parquet
