/buildings_energy_emission_factor.parquet
/electricity_emission_factor.parquet
/electricity_production_mix.parquet
/test.parquet
/district_heat_emission_factors.parquet
/electricity_consumption_emission_factor.parquet
/building_electricity_need.parquet
/building_floor_area.parquet
/transport_electricity_consumption.parquet
/number_of_jobs.parquet
/waste_incineration.parquet
/waste_incineration_emission_factors.parquet
/sewage_sludge_processing.parquet
/vehicle_fuel_efficiency_improvement.parquet
/transport_occupancy_factor.parquet
/vehicle_electrification_goals.parquet
/heating_system_efficiency.parquet
/other_building_emission_source_fuel_use.parquet
/non_road_machinery_emission_factors.parquet
/wastewater_treatment_catchment_population.parquet
/wastewater_treatment_emission_factors.parquet
/vehicle_tank_respiration_emissions.parquet
/building_energy.parquet
/district_heat_production_mix.parquet
/buildings_energy_consumption_emission_factor_revised.parquet
/district_heat_emission_factor.parquet
/district_heat_production_mix_goals.parquet
/electricity_primary_energy_factors.parquet
/district_heating_primary_energy_factors.parquet
/buildings_primary_energy_factors.parquet
/general_electricity_production_mix.parquet
/subsidized_electricity_production_mix.parquet
/externally_supplied_electricity.parquet
/transport_electricity_production_mix.parquet
/subsidized_transport_electricity_production_mix.parquet
/transport_externally_supplied_electricity.parquet
/transport_electricity_production_energy_factor.parquet
/fuel_energy_density.parquet
/transport_fuel_primary_energy_factors.parquet
/biogas_processing_emissions.parquet
/gas_network_mix_goal.parquet
/other_building_emission_source_emission_factors.parquet
/building_heat_mix_goals.parquet
/aviation_fuel_consumption.parquet
/aviation_emission_factor.parquet
/transport_emission_factors_2kw.parquet
/fuel_lower_heating_values.parquet
/fuel_heating_value_ratios.parquet
/population.parquet
/emissions.parquet
/vehicle_mileage.parquet
/non_road_machinery_fuel_consumption.parquet
/transport_emission_factors.parquet
/fuel_consumption_factor.parquet
/aviation_emission_factors.parquet
/transport_emission_factors_outside_city.parquet
/aviation_mileage.parquet
/vehicle_mileage_outside_city.parquet
/livestock_emission_factors.parquet
/livestock_counts.parquet
