/e03_energian_kokonaiskulutus.parquet
/e1_sahkonkulutus.parquet
/e12_helsingin_kaukolammon_sahkonkulutus.parquet
/e20_helen_kaukolampo_vuosikymmenet.parquet
/e23_energian_kuluttajaryhmat_kokonaiskulutus.parquet
