/mobile_combustion.parquet
/energy_emission_factors.parquet
/wastewater_treatment.parquet
/stationary_combustion.parquet
/purchased_electricity.parquet
/other_stationary_combustion.parquet
/corporate_waste.parquet
/leased_assets.parquet
/biosolids_transportation.parquet
