/final_energy.parquet
/historic_emissions.parquet
/energy_costs.parquet
/historical_emissions.parquet
/vehicle_kilometers.parquet
/passenger_kilometers.parquet
/vehicle_energy.parquet
/municipal_balance_activity.parquet
/municipal_balance_emission_factors.parquet
/municipal_building_energy.parquet
/municipal_water_use.parquet
