/final_energy.parquet
/historic_emissions.parquet
/energy_costs.parquet
/historical_emissions.parquet
/vehicle_kilometers.parquet
/passenger_kilometers.parquet
/vehicle_energy.parquet
/municipal_balance_activity.parquet
/municipal_balance_emission_factors.parquet
/municipal_building_energy.parquet
/municipal_water_use.parquet
/witterungsbereinigung.parquet
/municipal_avoided_energy.parquet
/energieverbrauch_strassenverkehr.parquet
/knsv_massnahmen_bilanzkategorie.parquet
/knsv_massnahmen_emissionsquelle.parquet
/knsv_massnahmen_energietraeger.parquet
/knsv_massnahmen_fahrzeugtyp.parquet
/knsv_massnahmen_gesamt.parquet
/knsv_verlagerung_energietraeger.parquet
/knsv_verlagerung_verpflegung.parquet
/mp100_fahrleistungsminderung_verkehr.parquet
/mp100_verlagerung_energietraeger_verkehr.parquet
/kwp_zielszenario_waermeversorgung.parquet
/fernwaerme_erzeugungsvariante.parquet
/ie_leipzig_szenarien_stationaer.parquet
/ie_leipzig_szenarien_verkehr.parquet
/zielpfad_emissionsfaktoren.parquet
/zielpfad_stationaer.parquet
/zielpfad_verlagerung_energietraeger_verkehr.parquet
