/final_energy.parquet
/historic_emissions.parquet
/energy_costs.parquet
/historical_emissions.parquet
/vehicle_kilometers.parquet
/passenger_kilometers.parquet
/vehicle_energy.parquet
/municipal_balance_activity.parquet
/municipal_balance_emission_factors.parquet
/fahrleistung_strassenverkehr.parquet
/energieverbrauch_strassenverkehr.parquet
/energieverbrauch_uebriger_verkehr.parquet
/kwk_anlagenparameter.parquet
/witterungsbereinigung.parquet
/emissionsfaktoren_verkehr.parquet
/emissionsfaktoren_endenergie.parquet
/municipal_street_lighting_energy.parquet
/municipal_building_energy.parquet
