/final_energy.parquet
/historical_emissions.parquet
/passenger_kilometers.parquet
/vehicle_energy.parquet
/zielphad.parquet
/zielpfad.parquet
/sector_specific_actions.parquet
/historical_actions.parquet
