/congestion_charge_scenarios.parquet
/fleet_composition.parquet
/price_elasticity_estimates.parquet
/spillover_estimates.parquet
/baseline_zone_traffic_counts.parquet
/avg_trip_distance_zone.parquet
/emission_factors.parquet
/baseline_peripheral_traffic_counts.parquet
/zeros.parquet
/avg_trip_distance_periphery.parquet
/income_trip_distribution.parquet
/revenue_allocation_policy.parquet
/income_group_population.parquet
/baseline_emissions_total.parquet
/global_emission_share.parquet
