/bevolkerungsstand.parquet
/energieverbrauch_gesamt.parquet
/forestry_fi.parquet
/forestry2.parquet
/congestion_charge.parquet
/congestion_charge_utility.parquet
/congestion_charge_action.parquet
/forest_land_ownership.parquet
/amount_of_wood_in_forest.parquet
/age_of_forests.parquet
/annual_growth_of_forest.parquet
/standing_wood_unit_price.parquet
/co2_emission_potentital_in_wood.parquet
