/renovation_prices.parquet
/public_building_data.parquet
/cost_data.parquet
/defaults.parquet
/active_mobility.parquet
/social_housing.parquet
/population.parquet
/passenger_transport_need_fleet.parquet
/passenger_transport_emissions.parquet
/freight_transport.parquet
/buildings_stock_renovation.parquet
