/energy_prices.parquet
/action_impact.parquet
/energieanteile_der_verbesserung.parquet
/energie_verkehr.parquet
/energie_stationar.parquet
/alle_historischen_energie.parquet
/action_baseline.parquet
/szenarios.parquet
/szenarien.parquet
/sector_index.parquet
