/intake_fraction.parquet
/population_groups.parquet
/case_burden.parquet
/active_mobility.parquet
/incidence.parquet
/air_pollution_erf.parquet
/heat_health_factor.parquet
/health_outcome_unit_price.parquet
/responses_vs_cost_types.parquet
/transport_emissions.parquet
/power_plant_emissions.parquet
/air_pollution_exposure.parquet
/passenger_transport.parquet
