/fuel_spread_by_vehicle_type.parquet
/stationary_energy_use.parquet
/stationary_electricity_use.parquet
/electricity_emission_factor.parquet
/greenhouse_gas_emissions.parquet
/emission_factor_wood.parquet
/emission_factor_natural_gas.parquet
/transmission_and_distribution_loss.parquet
/greenhouse_gas_emissions_by_sector.parquet
/emission_factor_fuels.parquet
/mileage_factor_by_vehicle_type.parquet
/greenhouse_gas_emissions_by_subsector.parquet
/fuel_consumption_by_vehicle_type.parquet
/building_foor_area.parquet
/stationary_wood_consumption.parquet
/stationary_natural_gas_use.parquet
/building_floor_area.parquet
/building_energy_factor.parquet
/building_electricity_consumption_factor.parquet
/building_natural_gas_consumption_factor.parquet
/stationary_fuel_use.parquet
