/stationary_energy_use.parquet
/stationary_electricity_use.parquet
/greenhouse_gas_emissions.parquet
/emission_factor_wood.parquet
/emission_factor_natural_gas.parquet
/transmission_and_distribution_loss.parquet
/greenhouse_gas_emissions_by_sector.parquet
/mileage_factor_by_vehicle_type.parquet
/greenhouse_gas_emissions_by_subsector.parquet
/building_foor_area.parquet
/stationary_natural_gas_use.parquet
/building_energy_factor.parquet
/building_electricity_consumption_factor.parquet
/building_natural_gas_consumption_factor.parquet
/stationary_fuel_use.parquet
/stationary_wood_consumption.parquet
/building_floor_area.parquet
/building_energy_use_intensity.parquet
/benchmark_commercial_energy_use_action.parquet
/improvements_beyond_building_code.parquet
/fuel_consumption_by_vehicle_type.parquet
/fuel_spread_by_vehicle_type.parquet
/vehicle_miles_traveled.parquet
/miles_per_gallon.parquet
/electric_vehicle_efficiency.parquet
/emission_factor_fuels.parquet
/registered_electric_vehicles.parquet
/annual_vehicle_miles_per_vehicle.parquet
/vehicle_charging_shares.parquet
/commercial_square_footage_over_20000_sf.parquet
/electricity_emission_factor.parquet
/amount_of_waste.parquet
/energy_use_intensity_with_building_code_action.parquet
/energy_use_intensity_with_building_actions.parquet
/building_square_footage.parquet
/energy_use_intensity_improvements.parquet
/energy_use_intensity_relative.parquet
/building_energy_use_intensity_eui.parquet
/stationary_energy_consumption.parquet
/energy_vehicle_and_waste_actions.parquet
