/defaults.parquet
/lappeenranta-defaults.parquet
/population.parquet
/electricity.parquet
/buildings_heating_fuel_tech.parquet
/other_actions.parquet
/passenger_transport_costs_walking_pt.parquet
/passenger_transport_emissions.parquet
/buildings_materials_costs.parquet
/buildings_heating_emission_factors.parquet
/building_actions.parquet
/waste_recycling_shares.parquet
/passenger_transport_need_fleet.parquet
/waste_recycling_goal.parquet
/buildings_heating_costs.parquet
/freight_transport.parquet
/waste_management.parquet
/passenger_transport_costs_external.parquet
/other_sectors.parquet
/passenger_transport_costs_ownership.parquet
/transport_actions.parquet
/buildings_stock_renovation.parquet
