/defaults.parquet
/lappeenranta-defaults.parquet
/population.parquet
/electricity.parquet
/buildings_heating_fuel_tech.parquet
/other_actions.parquet
/passenger_transport_costs_walking_pt.parquet
/passenger_transport_emissions.parquet
/buildings_materials_costs.parquet
