/ippu_actions.parquet
/nonroad_energy.parquet
/onroad_transportation.parquet
/transportation_actions.parquet
/emission_factors_energy.parquet
/waterborne_transportation.parquet
/ippu.parquet
/waste_actions.parquet
/energy_actions.parquet
/rail_transportation.parquet
/livestock.parquet
/other_energy.parquet
/aviation.parquet
/manufacturing.parquet
/land.parquet
/afolu_actions.parquet
/electricity.parquet
/combined_heat_and_power.parquet
/emission_factors_transportation.parquet
/waste.parquet
