/final_energy.parquet
/action_index.parquet
/direkte_massnahmen_ikka.parquet
/emission_reduction_potential_total.parquet
/energy_costs.parquet
/planned_action_shares.parquet
/other_emissions.parquet
/final_energy_quality.parquet
/endenergie.parquet
/other_activity.parquet
/andere_aktivitaet.parquet
