/territorial_onroad_transportation.parquet
/territorial_stationary.parquet
/territorial_other_transportation.parquet
/territorial_waste.parquet
/territorial_ippu_and_afolu.parquet
/organizational_stationary.parquet
/organizational_onroad_transportation.parquet
/organizational_other_transportation.parquet
