/fugitive_emission_factors.parquet
/greenhouse_gas_emissions.parquet
/stationary_energy_consumption.parquet
/stationary_emission_factors.parquet
/transportation_emissions.parquet
/stationary_emissions.parquet
/population.parquet
/transportation_emission_factors.parquet
/energy_emission_factors.parquet
